<ion-tabs class="tabs-icon-top tabs-color-active-positive">


	<ion-tab title="Opskrifter" icon="icon ion-pizza" href="#/tab/recipes">
		<ion-nav-view name="tab-recipes"></ion-nav-view>
	</ion-tab>


	<div ng-if="isLoggedIn()">
		
		<ion-tab title="Indkøbslister" icon="icon ion-bag" href="#/tab/shopping-lists">
			<ion-nav-view name="tab-shoppinglists"></ion-nav-view>
		</ion-tab>
	<!--
		<ion-tab title="Min profil" icon="icon ion-person" href="#/tab/dasha">
			<ion-nav-view name="tab-dashb"></ion-nav-view>
		</ion-tab>
	-->
	</div>

	<div ng-if="!isLoggedIn()" ng-controller="AuthenticationController">
		<ion-tab title="Log ind" icon="icon ion-social-facebook" class="facebook-tab" ng-click="login()">
		</ion-tab>
	</div>

</ion-tabs>