<ion-view view-title="{{ recipe.name }}">

	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-ios7-camera whitey"></a>
	</ion-nav-buttons>


	<ion-content class="recipe-page">


		<ion-slide-box on-slide-changed="slideHasChanged($index)">
			
			<ion-slide ng-repeat="image in recipe.images">
				<img ng-src="{{ $parent.api + '/images/recipe_images/' + recipe.id + '/' + image.path }}">
			</ion-slide>

		</ion-slide-box>

        <ratings recipe="recipe" stars="recipe.rating" myrating="recipe.myrating" changable="true"></ratings>                

		<div class="introduction" ng-if="recipe.introduction">

			<h3>Introduktion</h3>

			<div class="introduction-text">
				{{ recipe.introduction }}
			</div>

		</div>


		<h3>Ingredienser</h3>

		<div class="list persons">

			<label class="item item-input item-select">
				<div class="input-label">
					Antal personer
				</div>
				<select ng-model="currentPersons" ng-options="number for number in persons"></select>
			</label>

		</div>


		<table class="ingredients">
			<tr class="item" ng-repeat="ingredient in recipe.ingredients">
				<td>{{ ingredient.amount }} {{ ingredient.unit.shorthand }}</td>
				<td>{{ ingredient.name }}</td>
			</tr>
		</table>



		<h3 class="h3-margin">
			Fremgangsmåde - 
			<span ng-if="recipe.hours > 0">{{ recipe.hours }} time<span ng-if="recipe.hours > 1">r</span></span>
			<span ng-if="recipe.hours > 0 && recipe.minutes > 0"> og </span>
			<span ng-if="recipe.minutes > 0">{{ recipe.minutes }} minutter</span>
		</h3>

		<div class="steps">
			<div class="step" ng-repeat="step in recipe.steps">

				<div class="attributes">

					<div class="step-number">{{ $index + 1 }}</div>

					<div class="step-number" ng-if="step.timer">
						<span class="icon ion-clock"></span>
					</div>

				</div>
	
				<div class="description">
					{{ step.description }}
				</div>

				<div class="clear"></div>
			</div>
		</div>

		<h3 class="h3-margin">Kommentarer</h3>

		<div class="list">

			<a class="item item-avatar" ng-repeat="comment in recipe.comments" href="#">
				<div class="avatar" style="background: url('{{ $parent.api + '/images/profile_pictures/' + comment.user.id + '/' + comment.user.profile_picture }}')"></div>
				<h2>{{ comment.user.first_name }} {{ comment.user.last_name }}</h2>
				<p>{{ comment.comment }}</p>
			</a>

		</div>

<!--
		<input ng-model="comment" ng-show="isLoggedIn()" ui-keyup="{'enter':'addComment($event)'}" type="text" class="form-control" placeholder="Indtast en kommentar til opskriften" autocomplete="off">
		<input ng-show="!isLoggedIn()" type="text" class="form-control" placeholder="Log ind for at skrive en kommentar" disabled="disabled">

		<div class="alert alert-info" ng-if="!recipe.comments.length > 0">Der er endnu ikke skrevet nogen kommentarer til denne opskrift.</div>
		
		<table class="comments" ng-if="recipe.comments.length > 0" infinite-scroll="getMoreComments()" infinite-scroll-disabled='busy' infinite-scroll-distance="0.1">

			<tr class="comment" ng-repeat="comment in recipe.comments | orderBy:'-created_at'">
				<td class="profile-picture">
					<div class="profile-picture-thumb" ui-sref="user.feed({ userId: comment.user.id, username: $parent.getSlugified(comment.user.first_name + ' ' + comment.user.last_name) })" style="background: url('{{ $parent.api + '/images/profile_pictures/' + comment.user.id + '/' + comment.user.profile_picture }}')"></div>
				</td>

				<td class="message">
					<a ui-sref="user.feed({ userId: comment.user.id, username: $parent.getSlugified(comment.user.first_name + ' ' + comment.user.last_name) })">
						{{ comment.user.first_name }} {{ comment.user.last_name }}
					</a><br />
					{{ comment.comment }}
				</td>

				<td class="timeago" am-time-ago="comment.created_at">
				</td>
			</tr>

		</table>
-->


	</ion-content>
</ion-view>












