<div class="recipe-page">
    
    <div class="sidebar pull-left">
        
        <search-sidebar></search-sidebar>

    </div>

    <div class="content-column-right">

        <h1>Find Opskrifter</h1>
        
        <div class="content-no-box">
            <recipe ng-repeat="recipe in recipes" recipe="recipe"></recipe>
        </div>

    </div>

</div>

