
<div class="sidebar">
    <user-sidebar user="user"></user-sidebar>
</div>

<div class="middle-column">

    <h1>{{cookbookName}}</h1>
    
    <div class="content-no-box">
        <recipe-wide ng-repeat="recipe in recipes" recipe="recipe"></recipe-wide>
    </div>

</div>

<div class="sidebar">
    
    <cookbook ng-repeat="cookbook in cookbooks | limitTo: 3" cookbook="cookbook"></cookbook>
    
</div>