<div class="recipe" ui-sref="tab.recipe({recipeId: recipe.id})">
    <div class="picture" style="background-image:url('{{ $parent.api + '/images/recipe_images/' + recipe.id + '/' + recipe.images[0].path }}');">
    </div>


    <div class="info">
        <h1 class="title">{{ recipe.name }}</h1>
        <div class="ratingsbox pull-right">
            <ratings recipe="recipe" stars="recipe.rating" myrating="recipe.myrating" changable="true"></ratings>                
        </div>
    </div>


</div>
