<div class="search-sidebar">
		<div class="info">
			<div class="title">
				Find Opskrift
			</div>

			<div class="reset">
				Nulstill
			</div>
		</div>

		<div class="separator"></div>


		<div class="section">
			<div class="title">
				Find opskrifter med:
			</div>

			<div class="criteria">
	            <div id="search">
	                <input type="text" class="form-control" placeholder=" Find ingrediens" />
	            </div>
			
				<div class="ingredients" ng-repeat="ingredient in ingredientsInclude">
					<div class="separator"></div>
					
					<div class="name">
						{{ingredient.name}}
					</div>
					
					<div class="icon ion-close"></div>

				</div>
			</div>
		</div>

		<div class="section">
			<div class="title">
				Find opskrifter uden
			</div>

			<div class="criteria">
	            <div id="search">
	                <input type="text" class="form-control" placeholder=" Find ingrediens" />
	            </div>

				<div class="ingredients" ng-repeat="ingredient in ingredientsExclude">
					<div class="separator"></div>
					
					<div class="name">
						{{ingredient.name}}
					</div>
					
					<div class="icon ion-close"></div>

				</div>
			</div>

			
		</div>

		<div class="section">
			<div class="title">
				Måltids Type
			</div>
			
			<div class="criteria">
				<div class="options" ng-repeat="course in courses | limitTo: coursesLimit">
					<div class="option">
						<label><input type="checkbox" /> {{course.name}}</label>
					</div>
				</div>

				<div class="expander" ng-click="toggleCourses();">{{coursesExpandText}}</div>
			</div>
		</div>

		<div class="section">
			<div class="title">
				Angiv Allergier
			</div>
			
			<div class="criteria">
				<div class="options" ng-repeat="allergie in allergies | limitTo: allergiesLimit">
					<div class="option">
						<label><input type="checkbox" /> {{allergie.name}}</label>
					</div>
				</div>

				<div class="expander" ng-click="toggleAllergies();">{{allergiesExpandText}}</div>
			</div>
		</div>


        <div class="clear"></div>
    
</div>