<div class="cookbook">

    <div class="pictures">

        <div class="picture" ng-repeat="picture in cookbook.pictures" style="background-image: url('{{picture}}')"></div>

    </div>

    <div class="info">
    
        <h3 class="title">
            <a ui-sref="cookbook({ cookbookId: cookbook.id, cookbookName: $parent.getSlugified(cookbook.title) })">
                {{ cookbook.title }}
            </a>
        </h3>
        
        <div class="bar">
            <div class="left">
                <ratings stars="cookbook.stars" my-rating="null" changable="true"></ratings>                
            </div>
            
            <div class="right">
                {{ cookbook.stars + 5 }} opskrifter
            </div>

        </div>
        
    </div>
    
</div>