<div class="sidebar-profile">
    <div class="box">
        <a ui-sref="user.feed({ userId: user.id, username: $parent.getSlugified(user.first_name + ' ' + user.last_name) })">
            <img ng-src="{{ $parent.api + '/images/profile_pictures/' + user.id + '/' + user.profile_picture }}" alt="">
        </a>
        <a ui-sref="user.feed({ userId: user.id, username: $parent.getSlugified(user.first_name + ' ' + user.last_name) })">
            {{ user.first_name }}
            {{ user.last_name }}
        </a>

        <div class="bar">
            <div class="left">
                <ng-pluralize count="user.recipes_count" when="{'one': '1 opskrift', 'other': '{} opskrifter'}"></ng-pluralize>
            </div>

            <div class="right">

            	<div class="badges">
	            	<div class="icon ion-ribbon-b gold"></div> {{ user.badges_short.gold }}
	            	<div class="icon ion-ribbon-b silver"></div> {{ user.badges_short.silver }}
	            	<div class="icon ion-ribbon-b bronze"></div> {{ user.badges_short.bronze }}
				</div>
				
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>