<ion-view title="Indkøbslister">
	<ion-content class="padding shopping-lists">

		<div ng-repeat="shoppingList in shoppingLists" class="shopping-list">
			<h3>{{ shoppingList.name }}</h3>

			<table>
				<tr ng-repeat="recipe in shoppingList.recipes | limitTo: 5">
					<td>{{ recipe.name }}</td>
				</tr>
			</table>
			
<!--
			<table>
				<tr ng-repeat="ingredient in shoppingList.ingredients | limitTo: 5">
					<td>{{ ingredient.amount }} {{ ingredient.unit.shorthand }}</td>
					<td>{{ ingredient.name }}</td>
				</tr>
			</table>
-->
			<button class="button button-block" ui-sref="tab.shopping-list({ shoppingListId: shoppingList.id })">
				Vis hele indkøbslisten
				</button>

			<div class="clear"></div>
		</div>

	</ion-content>
</ion-view>



<!--
<div class="shopping-lists">

	<div class="middle-column middle-column-two">
		<div ng-repeat="shoppingList in shoppingLists">

			<a ui-sref="shopping-list({ shoppingListId: shoppingList.id, shoppingListName: $parent.getSlugified(shoppingList.name) })" class="title">{{ shoppingList.name }}</a>
			<recipe ng-repeat="recipe in shoppingList.recipes | limitTo: 4" recipe="recipe"></recipe>
			
			<div class="clear"></div>
			<hr>
		</div>

	</div>

	<div class="sidebar no-padding">

		<div class="tips">
			<div class="headline">
				<div class="icon ion-information-circled"></div>
				Tips
			</div>
			<div class="tips-content">
				Du kan oprette <b>indkøbslister</b> og tilføje opskrifter til den, og det antal personer i skal være om at spise en given ret.
				<br /><br />

				Når du har oprettet en <b>indkøbsliste</b>, kan du dele den med familie eller venner. 

				<br/><br/>

				Herefter kan i, i fællesskab, hakke ting af med <b>Madfolkets app</b> på smartphonen, når i står i supermarkedet.
			</div>
		</div>

	</div>

</div>

-->