<ion-view title="{{ shoppingList.name }}">
	<ion-content class="padding shopping-lists">

		<ion-refresher pulling-text="Træk og slip for at opdatere..." on-refresh="doRefresh()">
		</ion-refresher>

		<div class="shopping-list">
			<h3>{{ shoppingList.name }}</h3>


			<ul class="list">

				<li class="item item-checkbox" ng-repeat="ingredient in shoppingList.ingredients | orderBy:'name'">
					<label class="checkbox">
						<input type="checkbox" ng-model="ingredient.purchased" ng-change="changedIngredient(ingredient)">
					</label>
					{{ ingredient.name }}
					<div class="amount">{{ ingredient.amount }} {{ ingredient.unit.shorthand }}</div>
				</li>

			</ul>


			<div class="clear"></div>
		</div>

	</ion-content>
</ion-view>