.recipe-page img {
  width: 100%;
}
.recipe-page .slider {
  margin-bottom: -5px;
}
.recipe-page .rating {
  background-color: white;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.recipe-page .rating .ion-android-star {
  color: #ffc000;
  margin-right: 3px;
  font-size: 20px;
}
.recipe-page .rating .white {
  color: #ecf0f1;
}
.recipe-page .rating .user-rated {
  color: #ffc33a;
}
.recipe-page .introduction {
  margin-top: 10px;
}
.recipe-page .introduction .introduction-text {
  padding: 10px;
  padding-top: 0px;
}
.recipe-page .persons {
  margin-bottom: 0px;
}
.recipe-page .ingredients {
  width: 100%;
}
.recipe-page .ingredients tr {
  padding: 13px;
  padding-left: 15px;
  padding-right: 15px;
}
.recipe-page .ingredients tr td {
  padding-top: 0px;
  padding-bottom: 0px;
}
.recipe-page .ingredients tr td:first-child {
  width: 70px;
}
.recipe-page .steps .step {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #ddd;
  background-color: white;
}
.recipe-page .steps .step:last-child {
  border-bottom: 1px solid #ddd;
}
.recipe-page .steps .step .attributes {
  float: left;
  margin-right: 10px;
}
.recipe-page .steps .step .attributes .step-number {
  height: 40px;
  display: inline-block;
  padding: 12px;
  padding-top: 11px;
  border-radius: 2px;
  text-align: center;
  color: white;
  background-color: #e74c36;
}
.recipe-page .steps .step .attributes .step-number:nth-child(2) {
  padding-top: 10px;
}
.recipe-page .steps .step .attributes .step-number:nth-child(2) .icon {
  font-size: 16px !important;
}
.recipe-page .steps .step .description {
  line-height: 22px;
}

.shopping-lists .shopping-list {
  padding: 15px !important;
  margin-bottom: 10px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.2);
  background-color: white;
}
.shopping-lists .shopping-list h3 {
  margin-left: 0px;
  margin-bottom: 20px;
}
.shopping-lists .shopping-list .list {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.shopping-lists .shopping-list .list li {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
.shopping-lists .shopping-list .list li:last-child {
  margin-bottom: 0px;
}
.shopping-lists .recipe {
  width: 46% !important;
  float: left;
}
