
.recipe {
  padding: 5px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.2);
  background-color: white;
  width: 100%;
  height: 272px;
  float: left;
  margin-right: 12px;
  margin-bottom: 20px;
  position: relative;
}
.recipe .picture {
  width: 100%;
  height: 230px;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.recipe .info {
  padding-top: 10px;
  font-size: 12px;
  position: relative;
}
.recipe .info .title {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #e74c36;
}
.recipe .info .ratingsbox {
  position: absolute;
  right: 0;
  top: 4px;
  height: 27px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
}
.recipe .info .ratingsbox .ion-android-star {
  color: #ffc000;
  font-size: 16px;
}
.recipe .info .ratingsbox .white {
  color: #cecece;
}
.recipe .info .bar {
  width: 100%;
  position: absolute;
  bottom: 5px;
}
.recipe .bar {
  width: 100%;
  margin-top: 5px;
}
.recipe .bar .left {
  width: 50%;
  float: left;
  padding: 5px;
  padding-top: 4px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 14px;
  color: #f6f6f6;
  background-color: #e74c36;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.recipe .bar .right {
  width: 50%;
  height: 100%;
  float: left;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #c0392b;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.rating .ion-android-star {
  color: #fffa2d;
  margin-right: 2px;
}
.rating .white {
  color: #f6f6f6;
}
.rating .user-rated {
  color: #ffc33a;
}
.separator {
  width: 100%;
  height: 1px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #f6f6f6;
}
.profile-picture-thumb {
  width: 60px;
  height: 60px;
  border-radius: 2px !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.comments {
  width: 100%;
}
.comments .comment {
  border-top: 1px solid lightgray;
}
.comments .comment td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.comments .comment .profile-picture {
  width: 60px;
  cursor: pointer;
}
.comments .comment .message {
  width: 380px;
  padding-left: 10px;
}
.comments .comment .timeago {
  text-align: right;
}
.comments .comment:first-child {
  border-top: 0px;
}
.comments .comment:last-child {
  padding-bottom: 0px !important;
}
.comments .comment:last-child td {
  padding-bottom: 0px;
}
.tag {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #e74c36;
  color: white;
  border-radius: 2px !important;
  font-size: 12px;
  cursor: pointer;
}
.tag:hover {
  background-color: #c0392b;
}
.cbadges .cbadge {
  padding: 10px;
  padding-left: 15px;
  background-color: white;
  border-top: 0;
}
.cbadges .cbadge .icon {
  font-size: 30px;
  float: left;
  margin-right: 15px;
}
.cbadges .cbadge .name {
  font-weight: 600;
}
.cbadges .cbadge:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.cbadges .cbadge:first-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.pull-right {
  float: right;
}
.clear {
  clear: both;
}
.gold {
  color: #ffeb1e;
}
.silver {
  color: #e3e3e3;
}
.bronze {
  color: #ebb77f;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body {
  font-family: 'Open Sans', sans-serif;
  color: #34291d !important;
}
.tabs .facebook-tab i {
  color: #3b5998 !important;
}
.scroll-content {
  background-color: #ecf0f1;
}
.bar {
  background-color: #e74c36 !important;
  border: 0;
  background-image: none !important;
}
.bar .title {
  color: #f6f6f6 !important;
}
.bar .whitey {
  color: #f6f6f6 !important;
}
.bar .back-button {
  color: #f6f6f6 !important;
}
.bar .button {
  padding-top: 0px;
}
.tabs .tab-item-active {
  color: #2a2a2a !important;
}
.button-primary {
  background-color: #e74c36;
  color: white;
  border: 0;
}
.button-primary:hover {
  background-color: #c0392b;
  color: white;
}
.button-primary:focus {
  color: white;
}
h3 {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
  color: #34291d !important;
}
.h3-margin {
  margin-top: 25px;
  margin-bottom: 10px;
}
.list .item-avatar .avatar {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 2px;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.list .item-avatar h2,
.list .item-avatar p {
  margin-left: 10px;
  overflow: auto;
  text-overflow: inherit;
  white-space: normal;
}
.checkbox input:before,
.checkbox .checkbox-icon:before {
  border-color: #ddd;
}
.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background: #e74c36;
  border-color: #e74c36;
}
