<div class="modal-header">
    <h3 class="modal-title">Indstil æggeur</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-4 form-group">
            <label for="hours">Timer</label>
            <input ng-model="timer.hours" type="number" class="form-control input-sm" id="hours" placeholder="Indtast timer" autocomplete="off" min="0" max="99">
        </div>
        <div class="col-md-4 form-group">
            <label for="minutes">Minutter</label>
            <input ng-model="timer.minutes" type="number" class="form-control input-sm" id="minutes" placeholder="Indtast minutter" autocomplete="off" min="0" max="60">
        </div>
        <div class="col-md-4 form-group">
            <label for="seconds">Sekunder</label>
            <input ng-model="timer.seconds" type="number" class="form-control input-sm" id="seconds" placeholder="Indtast sekunder" autocomplete="off" min="0" max="60">
        </div>
    </div>    

</div>

<div class="modal-footer">
    <button class="btn btn-orange" ng-click="addTimer()" ng-if="!predefined" ng-disabled="!calculateSeconds() > 0">Tilføj æggeur</button>
    <button class="btn btn-orange" ng-click="addTimer()" ng-if="predefined" ng-disabled="!calculateSeconds() > 0">Opdater æggeur</button>
    <button class="btn btn-orange" ng-click="removeTimer()" ng-if="predefined">Fjern æggeur</button>
    <button class="btn btn-orange" ng-click="cancel()">Annuller</button>
</div>
