<div ng-if="$parent.user.recipes.length == 0" class="alert alert-info">
	{{ $parent.user.first_name }} har ikke opnået nogen bedrifter.
</div>

<div class="cbadges">

	<div class="cbadge" ng-repeat="badge in badges">
		<div ng-switch="badge.type">
			<div ng-switch-when="1">
				<div class="icon ion-ribbon-b gold"></div>
			</div>
			<div ng-switch-when="2">
				<div class="icon ion-ribbon-b silver"></div>
			</div>
			<div ng-switch-when="3">
				<div class="icon ion-ribbon-b bronze"></div>
			</div>
		</div>

		<div class="name">{{ badge.name }}</div>
		{{ badge.description }}

	</div>
</div>