<div ng-if="$parent.user.recipes.length == 0" class="alert alert-info">
	{{ $parent.user.first_name }} har endnu ikke oprettet nogen opskrifter.
</div>

<recipe ng-repeat="recipe in $parent.user.recipes" recipe="recipe"></recipe>