
<div class="sidebar pull-left no-padding">

	<user-sidebar user="user"></user-sidebar>

</div>

<div class="middle-column middle-column-two">


	<div class="page-tabs">
		<div class="page-tab" ui-sref="user.feed" ui-sref-active="active">Væg</div>
		<div class="page-tab" ui-sref="user.recipes" ui-sref-active="active">Opskrifter</div>
		<div class="page-tab">Kogebøger</div>
		<div class="page-tab" ui-sref="user.badges" ui-sref-active="active">Bedrifter</div>

		<div class="page-tab pull-right" ui-sref="create-recipe" ng-if="isLoggedIn() && getUser().id == user.id">
			<div class="icon ion-plus-round"></div>
			Tilføj opskrift
		</div>
	</div>

	<div ui-view></div>

</div>