<div class="modal-header">
    <h3 class="modal-title">Tilføj {{ recipe.name }} for {{ recipe.persons }} personer til indkøbsliste</h3>
</div>
<div class="modal-body">


    <div class="row">
        <div class="col-md-12 form-group">

            <select class="form-control" ng-model="chosenShoppingList" ng-options="shoppingList.name for shoppingList in shoppingLists" ng-disabled="shoppingListName == undefined || shoppingListName.length !== 0">
                <option value="">Vælg en eksisterende indkøbsliste</option>
            </select>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label for="shoppingListName">...eller opret en ny</label>
            <input type="text" ng-model="shoppingListName" name="shoppingListName" ng-disabled="chosenShoppingList" class="form-control" placeholder="Indtast navnet på indkøbslisten">
        </div>
    </div>


</div>

<div class="modal-footer">
    <button class="btn btn-orange" ng-click="createShoppingList()" ng-if="!chosenShoppingList && shoppingListName.length > 0" ng-disabled="creating">Tilføj og opret indkøbsliste</button>
    <button class="btn btn-orange" ng-click="addToShoppingList()" ng-if="chosenShoppingList" ng-disabled="creating">Tilføj til indkøbsliste</button>
    <button class="btn btn-orange" ng-click="cancel()">Annuller</button>
</div>
