@import url('../colors.less');

.recipe-page {

	img {
		width: 100%;
	}

	.slider {
		margin-bottom: -5px;
	}

	.rating {
	    
		background-color: white;
		text-align: center;
		padding: 10px;

		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;

	    .ion-android-star {
                color: #ffc000;
	        margin-right: 3px;
	        font-size: 20px;
	    }
	    
	    .white {
	        color: @background;
	    }

	    .user-rated {
	        color: #ffc33a;
	    }
	}    	

	.introduction {
		margin-top: 10px;
		.introduction-text {
			padding: 10px;
			padding-top: 0px;
		}		
	}

	.persons {
		margin-bottom: 0px;
	}

	.ingredients {
		//display:none;
		width: 100%;

		tr {
			padding: 13px;
			padding-left: 15px;
			padding-right: 15px;

			td {
				padding-top: 0px;
				padding-bottom: 0px;

				&:first-child {
					width: 70px;
				}

			}
		}
	}

	.steps {

		.step {
			padding: 10px;
			padding-top: 15px;
			padding-bottom: 15px;

			border-top: 1px solid #ddd;

			background-color: white;

			&:last-child {
				border-bottom: 1px solid #ddd;
			}

			.attributes {
				float: left;
				margin-right: 10px;

				.step-number {
					height: 40px;

					display: inline-block;

					padding: 12px;
					padding-top: 11px;

					border-radius: 2px;

					text-align: center;

					color: white;
					background-color: @primary;


					&:nth-child(2) {
						padding-top: 10px;
	
						.icon {
							font-size: 16px !important;	
						}			

					}
				}			
			}

			.description {
				line-height: 22px;
			}
		}


	}

}