@import url('../colors.less');
@import url('../mixins.less');

.shopping-lists {

	.shopping-list {
		padding: 15px !important;
		margin-bottom: 10px;

		.box();

		h3 {
			margin-left: 0px;
			margin-bottom: 20px;
		}
		
		.list {
			margin-bottom: 0px;
			padding-bottom: 0px;
			li {
				border-left: 0px;
				border-right: 0px;
				border-bottom: 0px;

				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}

	.recipe {
		width: 46% !important;
		float: left;
	}
}