@import url('colors.less');
@import url('mixins.less');

.recipe {
    .box();
    
    width: 100%;
    height: 272px;
    
    float: left;
    
    margin-right: 12px;
    margin-bottom: 20px;

    position: relative;

    .picture {
        width: 100%;
        height: 230px;

        .background-cover();
    }

    .info {
        padding-top: 10px;
        font-size: 12px;
        position: relative;

        .title {
            display: inline-block;
            
            font-size: 14px;
            font-weight: 400;

            color: @primary;
        }

        .ratingsbox {
            position: absolute;
            right: 0;
            top: 4px;
            height: 27px;

            padding-left: 10px;
            padding-right: 10px;
            padding-top: 4px;

            .ion-android-star {
                color: #ffc000;
                font-size: 16px;
            }

            .white {
                color: #cecece;
            }
        }
        
        .bar {
            width: 100%;
            position: absolute;
            bottom: 5px;
        }
    }
}

.recipe .bar {
    width: 100%;

    margin-top: 5px;

    .left {
        width: 50%;
        float: left;
        
        padding: 5px;
        padding-top: 4px;
        padding-bottom: 3px;
        
        text-align: center;
        font-size: 14px;
        color: @white;

        background-color: @primary;

        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
    }
    
    .right {
        width: 50%;
        height: 100%;
        float: left;
        
        padding: 5px;
        
        text-align: center;
        color: white;
        
        background-color: @primary-dark;

        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;

    }

}

.rating {
    
    .ion-android-star {
        color: #ffcd00 + 45;
        margin-right: 2px;
    }
    
    .white {
        color: @white;
    }

    .user-rated {
        color: #ffc33a;
    }
}    


.separator {
	width: 100%;
	height: 1px;

	margin-top: 7px;
	margin-bottom: 7px;

	border-bottom: 1px solid @white;
}

.profile-picture-thumb {
    width: 60px;
    height: 60px;
    
    .border-radius();

    .background-cover();
}

.comments {
    width: 100%;

    .comment {
        border-top: 1px solid lightgray;

        td {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .profile-picture {
            width: 60px;
            .hand();
        }

        .message {
            width: 380px;
            padding-left: 10px;
        }

        .timeago {
            text-align: right;
//            color: @soft-gray;
        }

        &:first-child {
            border-top: 0px;
        }

        &:last-child {
            padding-bottom: 0px !important;

            td {
                padding-bottom: 0px;
            }
        }

    }

}

.tag {
    float: left;

    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;

    background-color: @primary;
    color: white;

    .border-radius();
    
    font-size: 12px;

    .hand();

    &:hover {
        background-color: @primary-dark;
    }
}

.cbadges {

    .cbadge {
        padding: 10px;
        padding-left: 15px;

        background-color: white;
//        border: 1px solid @lighter-gray;
        border-top: 0;

        .icon {
            font-size: 30px;
            float: left;
            margin-right: 15px;
        }

        .name {
            font-weight: 600;
        }

        &:first-child {
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
//            border-top: 1px solid @lighter-gray;
        }    

        &:first-child {
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }    
    }
}



.pull-right {
    float: right;
}

.clear {
    clear:both;
}

.gold {
    color: #ffcd00 + 30;
}

.silver {
    color: #c5c5c5 + 30;
}

.bronze {
    color: #cd9961 + 30;
}