.background-cover() {
	background-position: center center !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.box() {
	padding: 5px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.2);
	background-color: white;
}

.box-no-padding() {
	.box();

	padding: 0px;
}

.border-radius() {
	border-radius: 2px !important;
}

.border-radius-top() {
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.border-radius-bottom() {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.hand() {
	cursor: pointer;
}

.active-border() {
	border: 2px solid @orange;
	border-style: double;

	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.fade-animation-enter() {
    -webkit-animation: fadeIn .4s;
    animation: fadeIn .4s;
}

.fade-animation-leave() {
    -webkit-animation: fadeOut .3s;
    animation: fadeOut .3s;
}
