@import url('colors.less');
@import url('mixins.less');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
    font-family: 'Open Sans', sans-serif;
    color: @font !important;
}

.tabs {

	.facebook-tab {

		i {
			color: #3b5998 !important;
		}
	}

}



.scroll-content {
	background-color: @background;
}

.bar {
	background-color: @primary !important;
	border:0;
	background-image: none !important;
	
	.title {
		color: @white !important;
	}
	
	.whitey {
		color: @white !important;
	}

	.back-button {
		color: @white !important;
	}

	.button {
		padding-top: -0px;
	}
}

.tabs {
//	background: none;
//	background-color: white;

	.tab-item-active {
		color: @dark !important;
	}
}

.button-primary {
	background-color: @primary;
	color: white;
	border: 0;

    &:hover {
    	background-color: @primary-dark;
    	color: white; 
    }

    &:focus {
    	color: white;
    }
}


h3 {
	font-size: 16px;
	margin-left: 10px;
	margin-top: 10px;

	color: @font !important;
}

.h3-margin {
	margin-top: 25px;
	margin-bottom: 10px;
}

.list {
	.item-avatar {

		.avatar {
			width: 50px;
			height: 50px;

		    position: absolute;
		    top: 16px;
		    left: 16px;

			border-radius: 2px;

			.background-cover();
		}

		h2, p {
			margin-left: 10px;
			overflow: auto;
			text-overflow: inherit;
			white-space: normal; 
		}
	}
}


  .checkbox input:before, .checkbox .checkbox-icon:before {
    border-color: #ddd; }
  .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: @primary;
    border-color: @primary; }























